.about{
    margin-top:20px;
    height:70vh;

    vertical-align: middle;
    display: flex;

    justify-content: center;
    align-items: center;

    color: white;
}

.about .aboutContent {
    /*
    margin-left: 20%;
    margin-right: 20%;*/

    /*margin-left: 8%;*/
    width:80%;
}

.about .aboutContent h1 {
    vertical-align:top;
    color: #a8a39f;
    font-size: 48px;

    text-align: left;
}

.about .aboutContent .descriptionParagraph p.description{
    width: 75%;
    font-size: 20px;

    text-align: left;
}

.about .aboutContent .descriptionParagraph .middle{
    margin-top: 20px;
}

.about .aboutContent .languageContainer{
    width: 60%;
    margin-top: 10px;

    text-align: left;
}

.about .aboutContent .languageContainer .listContainer{
    display: flex;
}

.about .aboutContent .languageContainer .listContainer .column {
    flex: 50%;
}

.about .aboutContent .languageContainer .listContainer .column ul li{
    list-style: none;
}

.about .aboutContent .languageContainer .listContainer .column ul li .arrow{ 
    margin-right: 20px;
} 

.about .aboutContent .languageContainer Button{
    margin-top: 15px;
    font-size: 12px;
}

/* Create two equal columns that floats next to each other */

/*
.column2 {
    float: left;
    width: 60%;
    padding: 10px;
}

.photoSection{
    float: left;
    width: 40%;
    padding: 10px;
}
 */

/* Clear floats after the columns */

/*
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/


#foto{
    height: 300px;
    width: 300px;

    /*margin-right: 95px;*/
    margin-left: 80px;
}

/*
@media screen and (max-width: 820px) {
    .about{
        display: inline;
    }
    
    .about .aboutContent { 
        margin-left: 12.5%;
        margin-right: 12.5%;

        width:75%;
    }

    .about .aboutContent .descriptionParagraph p.description{
        width: 100%;
        font-size: 16px;
    }

    .about .aboutContent .languageContainer{
        width: 100%;
        margin-top: 20px;
    }
    
    .about .aboutContent .languageContainer .listContainer{
        flex-direction: column;
        margin-top: 15px;
    }

    .about .aboutContent .languageContainer .listContainer .column {
        flex: 50%;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    .column2{
        margin-top: 30px;
        width: 100%;
    }

    #foto{
        height: 270px;
        width: 270px;
    
        margin-top: 25px;
        margin-left: -10px;
    }
}
*/
