.skills{
    margin-top:20px;
    /*height:88vh;*/

    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center; 

    color: white;
}

.skills .skillContent{
    margin-left: 8%;
    width:80%;
    flex-direction: column;
}

.skills .skillContent h1.sectionTitle{
    color: #a8a39f;
    font-size: 48px;

    text-align: left;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1.columnValue{
    font-size: 32px;
    text-align: left;

    height: 100px;
}

li.listItem{
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

.arrow{
    margin-right: 20px;
}

@media screen and (max-width: 820px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .column{
        margin-top: 20px;
        width: 100%;
    }

    h1.columnValue{
        height: 75px;
    }
    
}
